* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.info {
    font-size: 13px;
    margin-left: 300px ;
    margin-top: 20px;
    background: linear-gradient(to right, #B568F1, #7946A1);
    width: 385px;

html {
    scrollbar-width: none; /* ParaFirefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}
    
html::-webkit-scrollbar {
    width: 0px; /* Para Chrome, Safari, e Opera */
}

.header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.gato {
    margin-left: 250px;
    margin-top: 10px;
}

.info-gato {
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    left: 45%;
    top: 30%;
    width: 500px;
    font-size: 30px;
    background-color:#D86DE1;
}

.info-gerais {
    margin-left: 370px;
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to right, #B568F1, #7946A1);
}

.seta {
    width: 30px;
    position: absolute;
    margin-top: 29%;
    left: 0%;
}


.voltar {
    position: absolute;
    margin-top: 9%;
    left: 1.2%;
    background: transparent;
    border: none;
    font-size: 20px;
}