body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none; /* ParaFirefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}
    
html::-webkit-scrollbar {
    width: 0px; /* Para Chrome, Safari, e Opera */
}

.header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
    padding: 20px;
}

.esquerda,
.direita {
    flex: 1;
    padding: 20px;
}

.esquerda {
    background-color: #e0e0e0;
    position: absolute;
}

.direita {
    background-color: #D86DE1;
    position: absolute;
    border-radius: 12px;
    width: 600px;
    font-size: 30px;
    left: 47%;
    top: 12%;
}

.buttons {
    position: absolute;
    left: 52.5%;
    top: 25%;
}

.button {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.confirme {
    background-color: #0057FF;
    color: white;

}

.button.cancele {
    background-color: #000000;
    color: white;
}

.salvar {
    position: absolute;
    margin-top: 15px;
    left: 47%;
    text-align: center;
    background-color: #0057FF;
    padding: 3px;
    border: 3px;
    font-size: 25px;
}

.voltar {
    position: absolute;
    margin-top: 17px;
    left: 1.2%;
    background: transparent;
    border: none;
    font-size: 20px;
}

button {
    margin: 0 10px;
}

.icon {
    width: 30px;
    position: absolute;
    margin-top: 0.7%;
    left: 0%;
}

.gt {
    position: absolute;
    left: 20%;
    top: 12%;
}