* {
    margin: 0;
    padding: 0;
}
.card-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.checkbox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}
fieldset {
    padding: 10px;
    margin: 10px;
}