* {
    padding: 0;
    margin: 0;
}

header {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background: linear-gradient(to right, #1440CD, #485EA3);
    height: 100px;
}

.posicaoli {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.posicao {
    height: 100%;
    display: flex;
    align-items: center;
}

.risquinho {
    text-decoration: underline 5px;
}

.dropDown {
    z-index: 3;
    width: 40vw;
    height: 0;
    top: 100px;
    left: -250px;
    transition: 0.6s;
    position: absolute;
    background-color: rgba(72, 94, 163, 1);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.dropBotao {
    height: 50px;
    width: 190px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.sep {
    display: flex;
    justify-content: space-around;
    gap: 20px 20px;
    height: 10vh;
    margin: 10px;
}

#infoG {
    height: 100px;
}

.logo img {
    height: 80px;
    border-radius: 50%;
}

.icone img {
    height: 70px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

nav ul li {
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}