* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/Captura\ de\ tela\ 2024-10-09\ 090923.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
   

}

.card-pai {
    width: 780px;
    height: 400px;
    display: grid;
    justify-content: center;
    margin: 120px 0;
}

.card-titulo {
    width: 628px;
    height: 70px;
    display: flex;
    justify-content: center;
    color: #ffff;

    padding-bottom: 0px;
    min-width: 100px;
    min-height: 43px;
}

.card-secao {
    background-color: #7798ff;
    width: 628px;
    height: 280px;
    padding: 10px;
    border-radius: 40px;
    min-width: 200px;
    min-height: 103px;
}

.card-whatsap {
    background-color: #ffff;
    width: 565px;
    height: 53px;
    margin: 28px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    min-width: 100px;
    min-height: 23px;
    align-items: center;
}

.card-email {
    background-color: #ffff;
    width: 565px;
    height: 53px;
    margin: 28px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    min-width: 100px;
    min-height: 23px;
    align-items: center;
}

.card-telefone {
    background-color: #ffff;
    width: 565px;
    height: 53px;
    margin: 28px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    min-width: 100px;
    min-height: 23px;
    align-items: center;
}