body {
    font-family: Arial, sans-serif;
    background: no-repeat center/cover url("../img/Rectangle 35.png");
    
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #e0f7fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00acc1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.sidebar button:hover {
    background-color: #00838f;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.pet-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.pet-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pet-card h3 {
    margin: 10px 0 5px;
}

.pet-card p {
    margin: 5px 0;
}

.disponivel {
    background-color: #1eff00;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.adotado {
    background-color: #545553;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}