/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/adocao/adocao.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.adocao_header__jndJf {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.adocao_nav__SQ7fp ul {
    list-style: none;
    padding: 0;
}

.adocao_nav__SQ7fp ul li {
    display: inline;
    margin: 0 15px;
}

.adocao_nav__SQ7fp ul li a {
    color: white;
    text-decoration: none;
}

.adocao_filter__R9DC4 {
    text-align: center;
    margin: 20px 0;
}

.adocao_filter__R9DC4 button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adocao_pets__SVQPe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.adocao_pet__FRa3p {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 600px;
}

.adocao_pet__FRa3p img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.adocao_adopted__ZXjrK {
    display: block;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.adocao_footer__BB8TH {
    text-align: center;
    padding: 20px;
}

.adocao_footer__BB8TH button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adocao_disponivel__CbCC3{
    display: block;
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.adocao_link__5kYGH{
    text-decoration:underline;
    color: blueviolet;
}

.adocao_name__KMcbw {
    color: black;
}

.adocao_macho___MjX1 {
    color: blue;
}

.adocao_femea__9VCAP {
    color: pink;
}
