.pets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.pet {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    max-width: 90vw;
}

.pet img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.adopted {
    display: block;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.disponivel {
    display: block;
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.link {
    text-decoration: underline;
    color: #007BFF;
}

.link:hover {
    color: #0056b3;
}

.macho {
    color: blue;
}

.femea {
    color: pink;
}

.name {
    color: black;
}
