.main-container {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
  }
  
  .pets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 16px;
    flex: 1; 
}

.pet {
  height: 250px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  text-align: center;
  background: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.pet img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.adopted {
    display: block;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.disponivel {
    display: block;
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.link {
    text-decoration: underline;
    color: #007BFF;
}

.link:hover {
    color: #0056b3;
}

.macho {
    color: blue;
}

.femea {
    color: pink;
}

.name {
    color: black;
}

.species {
    color: #555;
    font-size: 0.9em;
}

.filtros {
    width: 200px;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 16px;
  }
  
  .filtroGrupo {
    margin-bottom: 12px;
  }
  
  .filtroGrupo p {
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .filtroGrupo button {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    padding: 6px;
    border: none;
    background-color: #3f51b5;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filtroGrupo button:hover {
    background-color: #303f9f;
  }

  .mainComFiltro {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .filtros {
    width: 200px;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  

.filtrosAtivos {
  background-color: #f2f2f2;  
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 10px 0;
  max-width: 300px;
}

.filtrosAtivos h4 {
  margin: 0 0 8px;
  font-size: 16px;
  color: #333;
}

.filtroItem {
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}