.titulo {
    padding-top: 50px;
    color: black;
    text-align: center;
}

.t2 {
    padding-top: 66px;
    color: black;
    display: flex;
    justify-content: center;
}
 

.div {
    background-color: aliceblue;
    color: black;
    padding-bottom: 150px;
}

.inpt {
    text-align: center;
    color: black;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    margin: 10px;
}

.inpt:focus {
    width: 40%;
}

.titulo {
    text-align: center;
}

.cls {
    display: flex;
    justify-content: center;
    gap: 20px;
}




.gnr {
    height: 50px;
    text-align: center;
    margin-left: 10px;
    color: black;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

.gnr:focus {
    width: 20%;
} 

.plhld1{
    margin-left: 30px;
    margin-top: 20px;
    margin-right: px;
    margin-bottom: px;
}

.plhld2{
    margin-left: 30px;
    margin-top: 20px;
    margin-right: px;
    margin-bottom: px;
}

.plhld3{
    margin-left: 35px;
    margin-top: 20px;
    margin-right: px;
    margin-bottom: px;
}

.plhld4{
    margin-left: 65px;
    margin-top: 20px;
    margin-right: px;
    margin-bottom: px;
}

.plhld5{
    margin-left: 45px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: px;
}

.plhld6{
    margin-left: 35px;
    margin-top: 20px;
    margin-right: px;
    margin-bottom: px;
}

.plhld7{
    margin-left: -15px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: px;
}

.plhld8{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: px;
    margin-bottom: px;
}

.plhld9{
    margin-left: -45px;
    margin-top: 20px;
    margin-right: px;
    margin-bottom: px;
}

.plhld10{
    margin-left: 15px;
    margin-top: 20px;
    margin-right: -30px;
    margin-bottom: px;
}

