.div {
    background-color: aqua;
}

.titulo {
    color: black;
    text-align: center;
}

.t2 {
    color: black;
    display: flex;
    justify-content: center;
}
/* 

.div {
    background-color: aliceblue;
    color: black;
    width: auto;
    height: auto;
}

.inp {
    color: black;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    margin: 10px;
}

.inp:focus {
    width: 100%;
}

.titulo {
    text-align: center;
}

.form1{
    display: inline-block;
    width: 330px;
    margin: 10px;
}

.form_select {
    display: inline-block;
    width: 130px;
}

.inp_select {
    color: black;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

.inp_select:focus {
    width: 100%;
} */
