.main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65.1vh;
    margin: 0;
    flex-direction: column;
}

.card_titulo {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.card_form_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.email {

    margin-bottom: 5px;
    color: #555;
  
}

.pass {
    margin-bottom: 5px;
    color: #555;
}

.inptpass, .inpt_email
 {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
}

.card_botao {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.card_botao button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card_botao button:hover {
    background-color: #0056b3;
}

.card_texto {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.card_texto a {
    color: #007BFF;
    text-decoration: none;
}

.card_texto a:hover {
    text-decoration: underline;
}