.div_pai {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.main {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card_titulo {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.card_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.email,
.pass {
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}

.inpt_email,
.inptpass {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fefefe; 
    color: #000; 
    transition: border-color 0.3s;
}


.inpt_email:focus,
.inptpass:focus {
    border-color: #007BFF;
    outline: none;
}

.button {
    padding: 12px;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

.button:hover {
    background-color: #0056b3;
}

.card_texto {
    text-align: center;
    margin-top: 20px;
    color: #555;
    font-size: 14px;
}

.card_cada {
    color: #007BFF;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}

.card_cada:hover {
    text-decoration: underline;
}
