.sobre_nos {
    font-size: 5rem;
    text-align: center;
    background-image: url('/images/sobrenos.jpg');
    background-size: cover; /* Garante que a imagem cubra toda a seção */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetições da imagem */
    padding: 5rem 2rem; /* Adiciona espaçamento para melhor visualização */
    color: white;
}

.h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.membros {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    color: white;
}

.membro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.membro img {
    width: 300px; /* Diminui o tamanho das imagens */
    height: 300px; /* Diminui o tamanho das imagens */
    border-radius: 50%;
    object-fit: cover;
    image-rendering: auto; /* Evita que as imagens fiquem borradas */
}

.parag {
    font-size: 30px;
}

@media (max-width: 768px) {
    .membros {
        flex-direction: column;
    }
    .membro {
        margin-bottom: 1rem;
    }
}

.integrantes {
    color: white;
}